body
{
	background:url(Recursos/Fondo5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

* 
{
 	margin: auto; padding: 2px; 
 	border-style:
}

h1 
{
 	padding: 80px; text-align: center; 
 	color: #00695C ;
 	text-decoration: underline;
 	letter-spacing: 3px;
}

input
{
	width:300px;
	height:25px;
	margin-top:1px;
	display: inline-block;
	border-radius:50px;
	opacity:0.74;
	background-color:white;
	filter:alpha(opacity=90);
	background-repeat:no-repeat300px	border: 2px solid #00695C;
}

table
{
	border: 7px solid #00695C;
	padding: 7px;
	position: relative;
	float: center;
}

/*aspectos generales: bordes y color de fondo de calculadora*/ 
.calculadora 
{ 
	border: 40px #00695C ridge; 
	width: 200px;text-align: center;
	background-color: 
	transparent; 
}

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/					 
#textoPantalla 
{
width: 185px; 
border: 2px black solid;
text-align: right; 
position: center: padding: 0px 5px;
background-color: #00796B; font-family: "courier new"; 
overflow: hidden;
}

/*botones normales: anchura y margen*/
.calculadora [type=button] 
{ 
	width: 35px; padding: 0;
}
/*botones especiales*/
.calculadora input.largo 
{ 
	color: blue; width: 60px; 
}